{% load i18n %}
<div class="modal-header justify-content-center">
    <h5 class="modal-title text-center" id="contactModalLabel">{% trans "Оберіть платформу для зв'язку: "%} </h5>
</div>
<div class="modal-body d-flex justify-content-center gap-5 p-4">
    <a href="{{ telegram_value }}" target="_blank" class="btn py-3 px-4 text-white"
       style="background-color: #0088cc; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
        <small class="fab fa-telegram me-2"></small>Telegram
    </a>
    <a href="{{ viber_value }}" class="btn py-3 px-4 text-white"
       style="background-color: #665cac; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
        <small class="fab fa-viber me-2"></small>Viber
    </a>
</div>
<div class="modal-footer justify-content-center">
    <p class="text-center m-0">
        {% trans "Якщо Viber або Telegram у вас відсутні, будь ласка, зателефонуйте нам за номером: "%} {{ phone_value }} </p>
</div>
