{% load i18n %}
<!-- Modal Popup2 -->
<div class="modal fade" id="contactModal2" tabindex="-1" aria-labelledby="contactModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Кнопка закриття модального вікна -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <form id="orderForm2">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title text-center" id="contactModalLabel">
                        {% trans "Оберіть платформу для зв'язку: "%}
                    </h5>
                </div>
                <div class="modal-body d-flex justify-content-center gap-5 p-4">
                    <a href="{{ telegram_value }}" target="_blank" class="btn py-3 px-4 text-white telegram">
                        Telegram
                    </a>
                    <a href="{{ viber_value }}" class="btn py-3 px-4 text-white viber">
                        Viber
                    </a>
                </div>
                <div class="modal-footer justify-content-center">
                    <p class="text-center m-0">
                        {% trans "Якщо Viber або Telegram у вас відсутні, будь ласка, зателефонуйте нам за номером: "%} {{ phone_value }}
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
