{% load i18n %}
<!-- Modal Popup -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Кнопка закриття модального вікна -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body d-flex justify-content-center gap-5 p-4" style="background: #F2F2F2">
                <form id="orderForm1">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            <input type="text" name="name" class="form-control border-0 rounded-3"
                                   placeholder="{% trans "Ваше ім'я" %}"
                                   required style="height: 55px;" maxlength="32">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="text" name="phone" class="form-control border-0 rounded-3"
                                   placeholder="{% trans "Ваш номер телефону" %}" required style="height: 55px;" maxlength="32">
                        </div>
                        <div class="col-12">
                    <textarea class="form-control border-0 rounded-3" name="car_model"
                              placeholder="{% trans "Марка та модель авто" %}" required style="height: 100px;"
                              maxlength="32"></textarea>
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="text" name="vin_code" class="form-control border-0 rounded-3"
                                   placeholder="{% trans "VIN код" %}"
                                   style="height: 55px;" maxlength="32">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="text" name="part_name" class="form-control border-0 rounded-3"
                                   placeholder="{% trans "Назва запчастини" %}" style="height: 55px;" maxlength="64">
                        </div>
                        <div class="col-12">
                    <textarea class="form-control border-0 rounded-3" name="additional_info"
                              placeholder="{% trans "Додаткова інформація" %}" style="height: 100px;" maxlength="128"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="text" hidden value="PT" name="request_type">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100 py-3" style="border-radius: 5px;">
                            {% trans "Замовити" %}<i
                                class="fa fa-arrow-right ms-3"></i></button>
                    </div>
                </form>
            </div>
            {% include 'include/contact_model/modal_footer.html' %}
        </div>
    </div>
</div>