{% load i18n %}
<!-- Modal Popup3 -->
<div class="modal fade" id="contactModal3" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Кнопка закриття модального вікна -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            {% include 'include/contact_model/modal_footer2.html' %}
        </div>
    </div>
</div>