{% load static %}
<!-- Fact Start -->
<div class="container-fluid fact bg-dark my-5 py-5 fact-images">
    <div class="container">
        <div class="row g-4">

            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/br1.png' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/br7.png' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/br3.png' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/br6.png' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/br2.png' %}" alt="Відгук 4">
            </div>

            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/br4.png' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/br5.png' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/br8.png' %}" alt="Відгук 4">
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->