{% load static %}
<!-- Fact Start -->
<div class="container-fluid fact bg-dark my-5 py-5 fact-images">
    <div class="container">
        <div class="row g-4">

            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                <img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/br1.webp' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/br7.webp' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/br3.webp' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/br6.webp' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                <img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/br2.webp' %}" alt="Відгук 4">
            </div>

            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/br4.webp' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/br5.webp' %}" alt="Відгук 4">
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/br8.webp' %}" alt="Відгук 4">
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->