{% load static %}
{% load i18n %}
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000"
         data-bs-pause="false">
         <!-- Картинка carousel-bg фиксируется над слайдами -->
        <img class="carousel-bg" src="{% static 'img/carousel-bg.webp' %}" alt="Background Image">
        <div class="carousel-inner">
            <!-- Перший слайд (активний) -->
            <div class="carousel-item active">
                <div class="carousel-caption d-flex align-items-center">
                    <div class="container position-relative">
                        <div class="row align-items-center justify-content-center justify-content-lg-start">
                            <div class="col-10 col-lg-7 text-center text-lg-start">
                                <h6 class="text-white text-uppercase mb-3 " aria-level="2">{% translate "// Автозапчастини  //" %}</h6>
                                <h2 class="display-3 text-white mb-4 pb-3 ">{% translate "Нові та б/у запчастини до будь-якої марки авто" %}</h2>
<a href="#" data-bs-toggle="modal" data-bs-target="#contactModal"
   class="btn btn-primary py-3 px-5">
   {% translate "Замовити" %}
   <svg class="icon2" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
      <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
   </svg>
</a>

                            </div>
                            <div class="col-6 col-lg-5 d-flex animated zoomIn">
                                <img class="img-fluid"  src="{% static 'img/carousel-555.webp' %}" alt="{% translate 'Нові та б/у запчастини до будь-якої марки авто' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Другий слайд -->
            <div class="carousel-item">
                <div class="carousel-caption d-flex align-items-center">
                   <div class="container position-relative">
                        <div class="row align-items-center justify-content-center justify-content-lg-start">
                            <div class="col-10 col-lg-7 text-center text-lg-start">
                                <h6 class="text-white text-uppercase mb-3" aria-level="2">{% translate "// Автопослуги //" %}</h6>
                                <h2 class="display-3 text-white mb-4 pb-3">{% translate "Замовлення і підбір двигунів та коробок передач" %}</h2>
<a href="#" data-bs-toggle="modal" data-bs-target="#contactModal"
   class="btn btn-primary py-3 px-5">
   {% translate "Замовити" %}
   <svg class="icon2" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
      <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
   </svg>
</a>
</div>
                            <div class="col-6 col-lg-5 d-flex animated zoomIn">
                                <img class="img-fluid" loading="lazy" src="{% static 'img/carousel-23.webp' %}" alt="{% translate 'Замовлення і підбір двигунів та коробок передач' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Додатковий (третій) слайд - копія першого -->
            <div class="carousel-item">
                <div class="carousel-caption d-flex align-items-center">
                   <div class="container position-relative">
                        <div class="row align-items-center justify-content-center justify-content-lg-start">
                            <div class="col-10 col-lg-7 text-center text-lg-start">
                                <h6 class="text-white text-uppercase mb-3" aria-level="2">{% translate "// Автовикуп //" %}</h6>
                                <h2 class="display-3 text-white mb-4 pb-3">{% translate "Терміновий (швидкий) викуп авто" %}</h2>
<a href="#" data-bs-toggle="modal" data-bs-target="#contactModal3"
   class="btn btn-primary py-3 px-5">
   {% translate "Замовити" %}
   <svg class="icon2" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
      <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
   </svg>
</a>
</div>
                            <div class="col-6 col-lg-5 d-flex animated zoomIn">
                                <img class="img-fluid"  loading="lazy" src="{% static 'img/carousel-111.webp' %}" alt="{% translate 'Терміновий (швидкий) викуп авто' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
