{% load static %}
{% load i18n %}
<!-- Examples Start -->
	<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" id="examples">
		<div class="container">
			<div class="text-center">
				<h4 class="text-primary2 text-uppercase" aria-level="2">{% translate "// Приклади //" %}</h4>
				<h4 class="mb-5">{% translate "Підбір запчастин та закупівля нашим клієнтам" %}</h4>
			</div>
		<div class="container spacing-top-bottom wow fadeInUp">
			<div class="owl-carousel testimonial-carousel position-relative">
				<!-- Отзыв 1 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/to1.webp' %}" alt="Відгук 1">
				</div>
<!-- Отзыв 2 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/to2.webp' %}" alt="Відгук 3">
				</div>
				<!-- Отзыв 3 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/to3.webp' %}" alt="Відгук 4">
				</div>
				<!-- Отзыв 4 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/to4.webp' %}" alt="Відгук 5">
				</div>
				<!-- Отзыв 5 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/to5.webp' %}" alt="Відгук 6">
				</div>
								<!-- Отзыв 6 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/to6.webp' %}" alt="Відгук 6">
				</div>
			</div>
		</div>
		<div class="container spacing-top-bottom wow fadeInUp">
		<h4 class="mb-5 text-center">{% translate "Великий склад двигунів, коробок передач та інших запчастин" %}</h4>
			<div class="owl-carousel testimonial-carousel position-relative">
				<!-- Отзыв 1 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/motor1.webp' %}" alt="Відгук 1">
				</div>

				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/motor3.webp' %}" alt="Відгук 3">
				</div>
				<!-- Отзыв 4 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/motor4.webp' %}" alt="Відгук 4">
				</div>
				<!-- Отзыв 5 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy" src="{% static 'img/motor5.webp' %}" alt="Відгук 5">
				</div>
				<!-- Отзыв 6 -->
				<div class="testimonial-item text-center">
					<img class="img-fluid rounded shadow-sm" loading="lazy"  src="{% static 'img/motor6.webp' %}" alt="Відгук 6">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Examples End -->