{% load i18n %}
<meta name="author" content="autopodbor_007">
<meta name="robots" content="index, follow">
<link rel="canonical" href="https://autopodbor007.com.ua/">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="{% translate 'автопідбір, викуп авто, запчастини, двигуни, коробки передач, консультації авто, авто Україна, продаж авто' %}" name="keywords">
<meta content="{% translate 'Ми надаємо професійні послуги з підбору автозапчастин, двигунів та коробок передач. Швидкий викуп авто та консультації з ремонту.' %}" name="description">

    <meta property="og:title" content="{% translate 'Професійний автопідбір, закупівля автозапчастин та консультації | autopodbor_007' %}">
    <meta property="og:description" content="{% translate 'Швидкий викуп авто, підбір нових і б/у запчастин, консультації з ремонту та експлуатації автомобілів.' %}">
    <meta property="og:image" content="https://autopodbor007.com.ua/static/img/og-image.jpg">
    <meta property="og:url" content="https://autopodbor007.com.ua/">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% translate 'autopodbor_007 | Автопідбір, автозапчастини та викуп авто' %}">
    <meta name="twitter:description" content="{% translate 'Отримайте найкращі послуги з автопідбору, закупівлі запчастин та термінового викупу авто.' %}">