<!-- Modal Popup -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center" id="contactModalLabel">Оберіть платформу для зв'язку:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center gap-5 p-4">
                <a href="https://t.me/onixruda" target="_blank" class="btn py-3 px-4 text-white"
                   style="background-color: #0088cc; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <small class="fab fa-telegram me-2"></small>Telegram
                </a>
                <a href="viber://chat?number=%2B380688218007" class="btn py-3 px-4 text-white"
                   style="background-color: #665cac; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <small class="fab fa-viber me-2"></small>Viber
                </a>
            </div>
            <div class="modal-footer justify-content-center">
                <p class="text-center m-0">Якщо Viber або Telegram у вас відсутні, будь ласка, зателефонуйте нам за
                    номером: +38 (068) 821 80 07</p>
            </div>
        </div>
    </div>
</div>