{% load static %}
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Відкриття модального вікна по кнопці -->
<script src="{% static 'js/main.js' %}"></script>
<script>
    function closeModal(modalId) {
        document.querySelectorAll('.modal a').forEach(button => {
            button.addEventListener('click', () => {
                const modal = bootstrap.Modal.getInstance(document.querySelector(modalId));
                modal.hide();
            });
        });
    }

    closeModal('#contactModal1')
    closeModal('#contactModal2')
    closeModal('#contactModal3')

</script>
<!-- JavaScript для відправки форми -->
<script>
    function saveForm(formName) {
        document.getElementById(formName).addEventListener('submit', function (e) {
            e.preventDefault(); // Блокуємо стандартне відправлення форми

            // Збираємо дані форми
            const formData = new FormData(this);

            // Відправка даних через AJAX
            fetch('/save_form/', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert("Ваше замовлення успішно надіслано!");
                        this.reset(); // Очищаємо форму після успішної відправки
                    } else {
                        alert("Вибачте, сталася помилка (" + JSON.stringify(data.detail) + "). Спробуйте ще раз.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("Вибачте, сталася помилка при відправці.");
                });
        });
    }

    saveForm('orderForm1')
    saveForm('orderForm2')
    saveForm('orderForm3')
</script>
<!-- Бургер-меню -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const navbarToggler = document.querySelector(".navbar-toggler");
        const navbarCollapse = document.querySelector("#navbarCollapse");
        const navLinks = document.querySelectorAll(".navbar-nav .nav-link");

        // Закриття бургер-меню після натискання на посилання
        navLinks.forEach(link => {
            link.addEventListener("click", function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                const offset = 80; // Відступ від верхньої частини

                // Закриваємо меню бургер
                if (navbarCollapse.classList.contains("show")) {
                    const bootstrapCollapse = new bootstrap.Collapse(navbarCollapse);
                    bootstrapCollapse.hide();
                }

                // Додаємо затримку перед скролом
                setTimeout(() => {
                    window.scrollTo({
                        top: targetElement.offsetTop - offset,
                        behavior: 'smooth'
                    });
                }, 300); // Затримка у 300 мс
            });
        });

        // Видаляємо клас 'open' з іконки бургер-меню після закриття меню
        navbarCollapse.addEventListener("hidden.bs.collapse", function () {
            navbarToggler.classList.remove("open");
        });
        navbarCollapse.addEventListener("shown.bs.collapse", function () {
            navbarToggler.classList.add("open");
        });
    });
</script>
<!-- Автоскролл на мобильных к контенту блока про услуги -->
<script>
document.addEventListener("DOMContentLoaded", function () {
    const tabButtons = document.querySelectorAll('[data-bs-toggle="pill"]');

    tabButtons.forEach(button => {
        button.addEventListener("click", function () {
            if (window.innerWidth < 768) { // Тільки для мобільних пристроїв
                // Прибираємо стрілки з усіх кнопок
                tabButtons.forEach(btn => {
                    const arrow = btn.querySelector(".mobile-arrow");
                    if (arrow) {
                        arrow.style.display = "none";
                    }
                });

                // Показуємо стрілку тільки біля активної кнопки
                const activeArrow = this.querySelector(".mobile-arrow");
                if (activeArrow) {
                    activeArrow.style.display = "inline-block";
                }

                // Прокручуємо до активного блоку
                const targetPane = document.querySelector(this.getAttribute("data-bs-target"));
                targetPane.scrollIntoView({ behavior: "smooth" });
            }
        });
    });
});
</script>
