{% load i18n %}
// <!-- Back to Top -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "autopodbor007",
    "image": "https://autopodbor007.com.ua/static/img/logo.png",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Бровари>",
        "addressLocality": "Україна",
        "postalCode": "07402",
        "addressCountry": "UA"
    },
    "telephone": "+38(068)8218007",
    "email": "info@autopodbor007.com.ua",
    "url": "https://autopodbor007.com.ua/",
    "description": "Ми надаємо послуги з автопідбору, продажу автозапчастин, швидкого викупу авто та консультацій з ремонту.",
    "sameAs": [
        "https://www.instagram.com/autoparts_007/",
        "https://www.tiktok.com/@autopodbor_007/"
    ],
    "service": [
        {
            "@type": "Service",
            "name": "Підбір автозапчастин",
            "description": "Гарантований точний підбір нових і б/у запчастин.",
            "serviceType": "Автозапчастини"
        },
        {
            "@type": "Service",
            "name": "Швидкий викуп авто",
            "description": "Терміновий викуп авто після ДТП або без пошкоджень.",
            "serviceType": "Викуп авто"
        },
        {
            "@type": "Service",
            "name": "Консультації по авто",
            "description": "Професійні поради з вибору, ремонту та експлуатації авто.",
            "serviceType": "Консультації"
        }
    ]
}
</script>