{% load static %}
<!-- Team Start -->
<div class="container-xxl py-5" id="car-selection">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-primary text-uppercase">// Підбір авто //</h5>
            <h3 class="mb-5">Професійний підбір по м. Київ, м. Бровари та району (Київ. обл.)</h3>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt="">

                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="fw-bold mb-0">Визначення автопідбору</h5>
                        <small>Наша команда експертів підбере для вас найкращий варіант на ринку, враховуючи ваші
                            критерії вибору та бюджет.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-2.jpg' %}" alt="">

                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="fw-bold mb-0">Індивідуальний підхід до клієнта</h5>
                        <small>Під час підбору враховуємо всі вимоги клієнта: від комплектації та кольору до технічних
                            характеристик, типу трансмісії та інших параметрів.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="">

                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="fw-bold mb-0">Кращі авто та велика база</h5>
                        <small>Мета підбору — знайти не найдешевший, а найоптимальніший варіант на ринку, який
                            відповідає вашому запиту на момент пошуку.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mx-auto text-center wow fadeInUp">
                <a href="#" class="btn btn-primary py-3 px-lg-5 mt-4" data-bs-toggle="modal"
                   data-bs-target="#contactModal" style="border-radius: 5px;">Замовити <i
                        class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->