{% load static %}
{% load i18n %}
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" id="reviews">
    <div class="container">
        <div class="text-center">
            <h5 class="text-primary2 text-uppercase" aria-level="2">{% translate "// Відгуки //" %}</h5>
            <h4 class="mb-5">{% translate "Щасливі клієнти" %}</h4>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <!-- Отзыв 1 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/review1.png' %}" alt="Відгук 1">
            </div>
            <!-- Отзыв 2 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/review2.png' %}" alt="Відгук 2">
            </div>
            <!-- Отзыв 3 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/review3.png' %}" alt="Відгук 3">
            </div>
            <!-- Отзыв 4 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/review4.png' %}" alt="Відгук 4">
            </div>
            <!-- Отзыв 5 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/review5.png' %}" alt="Відгук 3">
            </div>
            <!-- Отзыв 6 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/review6.png' %}" alt="Відгук 4">
            </div>
        </div>
                <div class="container spacing-top-bottom wow fadeInUp text-center">
            <h3 class="mb-5">{% translate "Наші клієнти пишуть" %}</h3>
        </div>
                <div class="owl-carousel testimonial-carousel position-relative">
            <!-- Отзыв 1 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/feedback1.png' %}" alt="Відгук 1">
            </div>
            <!-- Отзыв 2 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/feedback2.png' %}" alt="Відгук 2">
            </div>
            <!-- Отзыв 3 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/feedback3.png' %}" alt="Відгук 3">
            </div>
            <!-- Отзыв 4 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/feedback4.png' %}" alt="Відгук 4">
            </div>
            <!-- Отзыв 5 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/feedback5.png' %}" alt="Відгук 3">
            </div>
            <!-- Отзыв 6 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/feedback6.png' %}" alt="Відгук 4">
            </div>
                                <!-- Отзыв 7 -->
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded shadow-sm" src="{% static 'img/feedback7.png' %}" alt="Відгук 4">
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->