<!-- Topbar Start -->
{% load i18n %}
<div class="container-fluid bg-black p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <span class="material-icons text-primary me-2" style="font-size: 18px;">location_on</span>
                <small class="text-white me-2">{% translate "Київ, Бровари, Київська область" %}</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <span class="material-icons text-primary me-2" style="font-size: 18px;">schedule</span>
                <small class="text-white me-2">Пон - Птн: 09.00 - 19.00</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <!-- Viber -->
                <span class="material-icons text-primary me-2" style="font-size: 18px;">chat</span>
                <!-- Telegram -->
                <span class="material-icons text-primary me-2" style="font-size: 18px;">send</span>
                <!-- Phone -->
                <span class="material-icons text-primary me-2" style="font-size: 18px;">phone</span>
                <small class="text-white">+38 (068) 821 80 07</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-black text-primary me-0" target="_blank" href="https://www.instagram.com/autopodbor_007/" aria-label="Перейти до Instagram autopodbor_007">
                    <span class="material-icons" style="font-size: 18px;">photo_camera</span>
                </a>
                <a class="btn btn-sm-square bg-black text-primary me-1" target="_blank" href="https://www.tiktok.com/@autopodbor_007" aria-label="Перейти до TikTok autopodbor_007">
                    <span class="material-icons" style="font-size: 18px;">movie</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
