<!-- Topbar Start -->
{% load i18n %}
    <div class="container-fluid bg-black p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small class=" text-white me-2">Київ, Бровари, Київська область</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small class=" text-white me-2">Пон - Птн: 09.00 - 19.00</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                        <!-- Viber -->
						<small class="fab fa-viber text-primary me-2"></small>
						<!-- Telegram -->
						<small class="fab fa-telegram text-primary me-2"></small>
						<!-- Phone -->
						<small class="fa fa-phone-alt text-primary me-2"></small>
                    <small class=" text-white ">+38 (068) 821 80 07</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">

                    <a class="btn btn-sm-square bg-black text-primary me-0" target="_blank" href="https://www.instagram.com/autopodbor_007/"><i class="fab fa-instagram"></i></a>
					<a class="btn btn-sm-square bg-black text-primary me-1" target="_blank" href="https://www.tiktok.com/@autopodbor_007"><i class="fab fa-tiktok"></i></a>
                </div>
                	         <!--   <div class="h-100 d-inline-flex align-items-center">
                {% for language in languages %}
                    <a href="/{{ language }}/"
                            {% if language == language_code %}
                       class="text-primary"
                            {% else %}
                       class="text-white"
                            {% endif %}>
                        {% if language == "uk" %} UA {% else %} {{language|upper }} {% endif %}
                        {% if forloop.counter  == 1%} | {% endif %}
                    </a> &nbsp;
                {% endfor %}
            </div>-->
            </div>
        </div>
    </div>
    <!-- Topbar End -->