<!-- Service Start -->
<div class="container-xxl py-5" id="services">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-primary text-uppercase">// Послуги //</h5>
            <h3 class="mb-5">Ми пропонуємо широкий спектр найкращих послуг, щоб ви отримали максимум переваг.</h3>
        </div>
        <div class="row g-4">
            <!-- Блок 1 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start bg-light py-5 px-4 custom-rounded">
                    <i class="fa fa-car fa-3x text-primary mb-3 mb-md-0"></i>
                    <div class="text-center text-md-start pt-md-0 ps-md-4">
                        <h5 class="mb-3">Підбір авто “під ключ” <br><br></h5>
                        <div class="price-badge mb-3">від ХХХ$</div>
                        <p>Повний супровід: від пошуку та перевірки авто до переговорів і оформлення документів.</p>
                    </div>
                </div>
            </div>
            <!-- Блок 2 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.3s">
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start bg-light py-5 px-4 custom-rounded">
                    <i class="fa fa-search fa-3x text-primary mb-3 mb-md-0"></i>
                    <div class="text-center text-md-start pt-md-0 ps-md-4">
                        <h5 class="mb-3">Разовий огляд автомобіля <br><br></h5>
                        <div class="price-badge mb-3">від ХХХХ - ХХХХ грн.</div>
                        <p>Комплексна перевірка авто для виявлення візуальних і технічних дефектів перед покупкою.</p>
                    </div>
                </div>
            </div>
            <!-- Блок 3 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.5s">
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start bg-light py-5 px-4 custom-rounded">
                    <i class="fa fa-balance-scale fa-3x text-primary mb-3 mb-md-0"></i>
                    <div class="text-center text-md-start pt-md-0 ps-md-4">
                        <h5 class="mb-3">Оцінка авто перед продажем</h5>
                        <div class="price-badge mb-3">ХХХХ грн.</div>
                        <p>Об'єктивна оцінка вартості для вигідного продажу. Допомога з продажем. Велика база
                            покупців.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <!-- Блок 4 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start bg-light py-5 px-4 custom-rounded">
                    <i class="fa fa-cogs fa-3x text-primary mb-3 mb-md-0"></i>
                    <div class="text-center text-md-start pt-md-0 ps-md-4">
                        <h5 class="mb-3">Підбір оригінальних та б/у запчастин</h5>
                        <div class="price-badge mb-3">залежить від авто</div>
                        <p>Знайдемо потрібні запчастини для будь-якої марки авто.</p>
                    </div>
                </div>
            </div>
            <!-- Блок 5 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.3s">
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start bg-light py-5 px-4 custom-rounded">
                    <i class="fa fa-wrench fa-3x text-primary mb-3 mb-md-0"></i>
                    <div class="text-center text-md-start pt-md-0 ps-md-4">
                        <h5 class="mb-3">Проведення ТО та ремонт авто</h5>
                        <div class="price-badge mb-3">залежить від авто</div>
                        <p>Якісне обслуговування і ремонт у м. Бровари (Київ. обл.).</p>
                    </div>
                </div>
            </div>
            <!-- Блок 6 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.5s">
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start bg-light py-5 px-4 custom-rounded">
                    <i class="fa fa-comments fa-3x text-primary mb-3 mb-md-0"></i>
                    <div class="text-center text-md-start pt-md-0 ps-md-4">
                        <h5 class="mb-3">Консультації по авто<br><br></h5>
                        <div class="price-badge mb-3">ХХХХ грн./год</div>
                        <p>Професійні поради з усіх питань, пов’язаних з авто.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->