{% load static %}
{% load i18n %}
<!-- Service Start -->
<div class="container-xxl service py-5" id="services">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-primary text-uppercase">{% translate "// ПОСЛУГИ //" %}</h5>
            <h3 class="mb-5">{% translate "Ми велика мережа розборок в Україні та Європі, маємо склади в багатьох містах країни." %} </br> {% translate "Терміновий (швидкий) викуп авто в Броварах та інших містах України та Європи" %}</h3>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav w-100 nav-pills me-4" id="serviceTabs" role="tablist">
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active"
                            id="tab-1"
                            data-bs-toggle="pill"
                            data-bs-target="#tab-pane-1"
                            type="button"
                            role="tab"
                            aria-controls="tab-pane-1"
                            aria-selected="false">
                        <i class="fa fa-box-open fa-2x me-3 icon-default"></i>
                        <h4 class="m-0">{% translate "Замовлення нових запчастин" %}</h4>
<i class="fa fa-arrow-down ms-auto mobile-arrow d-lg-none"></i>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                            id="tab-2"
                            data-bs-toggle="pill"
                            data-bs-target="#tab-pane-2"
                            type="button"
                            role="tab"
                            aria-controls="tab-pane-2"
                            aria-selected="true">
                        <i class="fa fa-cogs fa-2x me-3 icon-default"></i>
                        <h4 class="m-0">{% translate "Замовлення і підбір двигунів та коробок передач" %}</h4>
<i class="fa fa-arrow-down ms-auto mobile-arrow d-lg-none"></i>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                            id="tab-3"
                            data-bs-toggle="pill"
                            data-bs-target="#tab-pane-3"
                            type="button"
                            role="tab"
                            aria-controls="tab-pane-3"
                            aria-selected="true">
                        <i class="fa fa-car fa-2x me-3 icon-default"></i>
                        <h4 class="m-0">{% translate "Автовикуп" %}</h4>
<i class="fa fa-arrow-down ms-auto mobile-arrow d-lg-none"></i>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                            id="tab-4"
                            data-bs-toggle="pill"
                            data-bs-target="#tab-pane-4"
                            type="button"
                            role="tab"
                            aria-controls="tab-pane-4"
                            aria-selected="true">
                        <i class="fa fa-comments fa-2x me-3 icon-default"></i>
                        <h4 class="m-0">{% translate "Консультації по авто" %}</h4>
<i class="fa fa-arrow-down ms-auto mobile-arrow d-lg-none"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100" id="serviceTabsContent">
                    <div class="tab-pane fade show active" id="tab-pane-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/footer.jpg' %}" style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                               <!-- <h3 class="mb-3">{% translate "Ми велика мережа розборок в Україні та Європі маємо склади в багатьох містах країни " %}</h3>-->
                                <p class="mb-4">{% translate "Гарантуємо точний підбір запчастин та агрегатів на Ваше авто по VIN-номеру автомобіля" %}</p>
                                                                <p class="mb-4">{% translate "Нові оригінальні запчастини та їх бюджетні аналоги, вживані запчастини в гарному стані для будь-якої марки авто по приємним цінам, а головне з можливістю знижок при наступному замовленні у нас " %}</p>
                                                                <p class="mb-4">{% translate "Двигуни, коробки передач, кузовні деталі та інші запчастини з гарантією від нашої мережі " %}</p>
                                <div class="price-badge mb-3">{% translate "Гарантуємо якість та порядність угоди " %}</div>
                                                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Термін доставки поштою по Україні  1-2 дні (відправка в день замовлення) " %}</p>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Термін доставки перевізниками з Європи 10-14 днів " %}</p>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Гарантія на вживані запчастини 14-30 днів (залежить від запчастини) " %}</p>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Гарантія на нові 3-6 місяців (залежить від запчастини)" %}</p>
                                <a href="#" class="btn btn-primary py-4 px-lg-5 d-block" data-bs-toggle="modal" data-bs-target="#contactModal" style="border-radius: 5px;">{% translate "Замовити" %}<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="tab-pane-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/motors.jpg' %}" style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                               <!-- <h3 class="mb-3">{% translate "Підбір та замовлення двигуна" %}</h3> -->
                                <p class="mb-4">{% translate "Наші спеціалісти надають професійні послуги з пошуку та підбору двигунів та коробок передач під ваше авто. Взаємодіємо з великою базою як нових так і б/у агрегатів з доступом до їх складів" %}</p>
                                <div class="price-badge mb-3">{% translate "Вартість: $XXХ (Залежить від авто)" %}</div>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Висока кваліфікація фахівців" %}</p>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Високоточне обладнання" %}</p>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Гарантія на виконані роботи" %}</p>
                                <a href="#" class="btn btn-primary py-4 px-lg-5 d-block" data-bs-toggle="modal" data-bs-target="#contactModal" style="border-radius: 5px;">{% translate "Замовити" %}<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="tab-pane-3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/team-1.jpg' %}" style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!--<h3 class="mb-3">{% translate "Терміновий (швидкий) викуп авто в Броварах та інших містах України та Європи " %}</h3> -->
                               <p class="mb-2">{% translate "-Без пошкоджень" %}</p>
<p class="mb-2">{% translate "-Після ДТП" %}</p>
<p class="mb-2">{% translate "-В Європі на українській реєстрації" %}</p>
                                                                                                <p class="mb-4">{% translate "Для того щоб ми придбали Ваше авто,  ціна має бути нижче ринкової вартості автомобілі по цінам з сайтів не розглянемо для купівлі, можливий лише комісійний продаж (під нашого клієнта) обговоримо це індивідуально" %}</p>
                                <div class="price-badge mb-3">{% translate "Можливість оцінки авто по фото та короткому опису, без Вашого приїзду." %}</div>
                               <b><p class="mb-2">{% translate "Гарантуємо:" %}</p></b>
                                <p><i class="fa fa-check text-success me-2"></i>{% translate "Лояльність та порядність з нашого боку до клієнта " %}</p>
                                                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Чистоту в юридичних питаннях " %}</p>
                                                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Швидку оцінку транспортного засобу (по фото-відео та короткому опису)" %}</p>
                                                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Швидкий розрахунок на місці  " %}</p>
                                <a href="#" class="btn btn-primary py-4 px-lg-5 d-block" data-bs-toggle="modal" data-bs-target="#contactModal3" style="border-radius: 5px;">{% translate "Замовити" %}<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="tab-pane-4" role="tabpanel" aria-labelledby="tab-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/service-1.jpg' %}" style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                               <!-- <h3 class="mb-3">{% translate "Консультації по авто" %}</h3> -->
                                <p class="mb-4">{% translate "Наша команда експертів надає консультації з будь-яких питань, пов'язаних з вибором, ремонтом та експлуатацією автомобілів. Ми допоможемо вам знайти оптимальні рішення для вашого авто.." %}</p>
                                <div class="price-badge mb-3">{% translate "Безкоштовно!" %}</div>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Висока кваліфікація фахівців" %}</p>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Індивідуальний підхід" %}</p>
                                <p><i class="fa fa-check text-success me-3"></i>{% translate "Підтримка на всіх етапах" %}</p>
                                <a href="#" class="btn btn-primary py-4 px-lg-5 d-block" data-bs-toggle="modal" data-bs-target="#contactModal2" style="border-radius: 5px;">{% translate "Замовити" %}<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>