{% load static %}
<!DOCTYPE html>
<html lang="{{ language_code }}">

<head>
    <meta charset="utf-8">
    <title>autopodbor_007 – Професійний підбір автомобілів та запчастин</title>
    {% include "include/meta.html" %}
    {% include "include/links.html" %}

</head>

<body>

{% include "include/topbar.html" %}

{% include "include/navbar.html" %}

{% include "include/carousel.html" %}

{% include "include/services.html" %}

{% include "include/upper_facts.html" %}

{% include "include/examples.html" %}

{% include "include/bottom_facts.html" %}

{% include "include/testimonial.html" %}

{% include "include/footer.html" %}

{% include 'include/services-jsonld.html' %}

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><svg class="icon11" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
      <path d="M374.6 246.6C368.4 252.9 360.2 256 352 256s-16.38-3.125-22.62-9.375L224 141.3V448c0 17.69-14.33 31.1-31.1 31.1S160 465.7 160 448V141.3L54.63 246.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160C387.1 213.9 387.1 234.1 374.6 246.6z"/></svg>
</a>

{% include "include/popup.html" %}

{% include "include/scripts.html" %}
<!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-39CZLG717C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-39CZLG717C', {
  'anonymize_ip': true
  'transport_type': 'beacon' // Використовує більш швидкий протокол для відправлення даних
});
</script>
</body>

</html>