{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="utf-8">
    <title>autopodbor_007 – Професійний підбір автомобілів та запчастин</title>
	{% include "include/meta.html" %}
    {% include "include/links.html" %}

</head>

<body>
    {% include "include/spinner.html" %}

    {% include "include/topbar.html" %}

    {% include "include/navbar.html" %}

    {% include "include/carousel.html" %}

    {% include "include/upper_service.html" %}

    {% include "include/upper_facts.html" %}

    {% include "include/bottom_service.html" %}

    {% include "include/examples.html" %}

    {% include "include/bottom_facts.html" %}

    {% include "include/testimonial.html" %}
		
    {% include "include/footer.html" %}


	<!-- Back to Top -->
	<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    {% include "include/popup.html" %}

    {% include "include/scripts.html" %}
</body>

</html>